@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

ul,
footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li,
a,
#h1-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(58, 57, 57);
}

#logo {
  position: absolute;
  width: 105px;
  height: 47px;
  left: 0px;
  top: 0px;
  margin: 0px 15px 15px 0px;
}

/* Esconde las scrollbar */
::-webkit-scrollbar {
  display: none;
}

footer {
  position: relative;
  bottom: 0;
  padding: 14px 16px;
  background-color: #333;
}

#logo-footer {
  position: absolute;
  width: 105px;
  height: 48px;
  right: 0px;
  bottom: 0px;
}

/* Contacto */
input[type="text"] {
  height: 16px;
  padding: 12px 9px;
  margin: 6px 2px;
  box-sizing: border-box;
}

input[type="text"]:focus {
  background-color: lightgray;
}

textarea {
  margin: 6px 2px 0px 0px;
}

.text-publicar {
  margin: 5px;
}

.submit-publicar {
  margin: 0px 2px;
}
